/*
 * Search Form
 */
 
#searchlogo {
	background: url('../images/bsearch_logo.png') no-repeat;
	height: 43px;
	width: 282px;
}

#searchform {
  background: #3d3c3c url('../images/search-form-background-gradient.png') repeat-x;
  
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  
  color: #fff;
  font: 12px Arial,sans-serif;
	height: 78px;
  min-width: 790px;
	position: relative;
}

#searchformheader {
  font: 12px Arial,sans-serif;
  margin-bottom: 10px;
}

#searchinfolinks {
	color: #000;
	float: right;
	margin-top: -20px;
}
	#searchinfolinks a {
		color: #5db4d6;
		font-weight: bold;
		text-decoration: none;
	}
	
#searchtipscontent {
	background: url(../images/browse_single_bg.png) repeat-x;
  color: #000;
  font-family: Arial,sans-serif;
  font-size: 12px;
  height:600px;
  overflow:auto;
	padding: 0 8px;
  width:700px;
}

	#searchtipscontent h2 {
    color: #fff;
		font-family: Arial,sans-serif;
		font-size: 20px;
    height: 35px;
		margin: 10px 0 0 0;
	}
  
  #searchtipscontent a {
    color: #5db4d6;
  }
	
.abs-biblesearch-browsethebible {
	background: url(../images/browse_single_bg.png) repeat-x;
  color: #000;
  font-family: Arial,sans-serif;
  font-size: 12px;
	padding: 0 0 10px 0;
	width: 290px;
}

	.abs-biblesearch-browsethebible  div {
		padding: 0 5px;
	}
		.abs-biblesearch-browsethebible  div div {
		padding: 0;
	}

	.abs-biblesearch-browsethebible .browsetitle {
    color: #fff;
    font-family: Arial,sans-serif;
		height: 34px;
		padding: 10px 0 0 5px;
	}
	
	.abs-biblesearch-browsethebible .browsetitle h3 {
		display: inline;
		font-size: 24px;
	}
	
	.abs-biblesearch-browsethebible a {
		color: #5db4d6;
		text-decoration: none;
	}
	
	.abs-biblesearch-browsethebible p {
		margin: 5px 0;
	}
	
	.abs-biblesearch-browsethebible .breadcrumbs {
    background-color: #d8edf5;
		font-weight: bold;
		height: 25px;
    padding-top: 10px;
	}
		.abs-biblesearch-browsethebible .breadcrumbs  span {
			color: #5db4d6;
			cursor: pointer;
		}
		.abs-biblesearch-browsethebible .breadcrumbs .active {
		}
	
.abs-biblesearch-browsethebible .version, .abs-biblesearch-browsethebible .testament {
	display: block;
}

.abs-biblesearch-browsethebible .book {
	display: block;
	width: 140px;
	float: left;
}

#selectionmarker {
  background: url('../images/selection-icon.png') no-repeat;
  height: 15px;
	position: absolute;
	top: 64px;
  width: 22px;
}
	#selectionmarker.all {
		left: 45px;
	}
	#selectionmarker.specific {
		left: 170px;
	}

#searchallversions, #searchsomeversions {
	border-right: 1px solid #7b7b7b;
	font-size: 13px;
  font-family: Arial,sans-serif;
	font-weight: bold;
	float: left;
	height: 78px;
	cursor: pointer;
}

	#searchallversions {
		width: 116px;
	}
		#searchallversions .text {
		padding: 30px 0 0 20px;
	}

	#searchsomeversions  {
		width: 127px;
	}
		#searchsomeversions  .text {
			padding: 30px 0 0 12px;
		}
		
#versions {
  font: 12px Arial,sans-serif;
	margin-top: 10px;
}
	
#keyscontainer {
	float: left;
	height: 78px;
	width: 420px;
}
	#keyscontainer #edit-keys {
    background: #fff url('../images/magnifyingglass.png') no-repeat 10px 3px;
		border: 0;
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: inset 2px 2px 2px #888;
    -webkit-box-shadow: inset 2px 2px 2px #888;
    box-shadow: inset 2px 2px 2px #888;
		color: #555;
		font-family: Georgia, "Times New Roman", Times;
		font-size: 18px;
		height: 38px;
		margin: 10px 0 0 10px;
    padding-left: 40px;
		width: 360px;
	}
		#keyscontainer #edit-keys:focus {
			outline-width: 0;
		}
		
#versions div div {
	float: left;
}

#searchformsubmit {
	background: #5db4d6;
	border: 0;
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
	float: left;
	height: 46px;
	margin: 17px 0 0 2px;
	width: 116px;
}
  #searchformsubmit input {
    background: none;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 25px;
    text-transform: uppercase;
  }

/*
 * END Search Form
 */
 
/*
 * BEGIN Search Results
 */
 
 #abs-biblesearch-results {
  font-family: Arial, sans-serif;
  font-size: 12px;
 }
 
 #abs-bible-search-meta {
	border: 1px solid black;
	border-width: 2px 0 1px 0;
	clear: both;
	font-size: 90%;
	margin-top: 15px;
 }
 
 #metainfo {
	float: left;
	width: 300px;
 }
	
	#metafor {
		font-size: 105%;
		font-weight: bold;
	}
 
	#metanumbers, #metacharacteristics, #metachange {
		color: #9A9A9A;
	}
		#metanumbers strong, #metacharacteristics strong, #metachange strong {
			color: #000;
		}
	
#metachange {
	float: right;
	width: 150px;
}

	#metachange a {
		color: #5db4d6;
		text-decoration: none;
	}

form#resultsperpage {
	display: inline;
	margin-top: 5px;
}

.abs-paging {
	height: 1em;
}

	.paginate {
		float: right;
		padding-top: 5px;
	}

.abs-verse .reference {
	color: #5db4d6;
	font-size: 110%;
	margin-bottom: 0;
}
	.abs-verse a {
		color: #5db4d6;
		text-decoration: none;
	}

.abs-verses-versions-trigger {
	cursor: pointer;
	color: #5db4d6;
    display: inline;
	font-size: 95%;
	margin-top: 0;
	width: 25px;
}

.abs-verse {
    margin-bottom: 10px;
}
	.abs-verse p {
		font-weight: bold;
		margin: 0;
	}
	.abs-verse blockquote {
		margin-top: 0;
	}

.abs-throbber {
    background: url(../images/status-active.gif) no-repeat 0 0;
	height: 20px;
	margin-left: 10px;
	width: 40px;
}

.abs-verse-versions {
	background: #EEE;
  margin-left: 20px;
  padding: 2px;
}

.expandtext {
	background: #f3f2f2 url(../images/expandicon.png) no-repeat 2px 3px;
	height: 15px;
	padding: 5px 0 5px 20px;
}

.paginate a, .paginate .disabled {
	margin: 0 5px;
	color: #000;
}

.abs-biblesearch-versions-copyright {
	clear: both;
	margin-top: 15px;
}
	.abs-biblesearch-versions-copyright .version {
		color: #7D7D7D;
		font-size: 90%;
		margin-bottom: 5px;
	}
 
 /*
 * END Search Results
 */
 
  /*
 * BEGIN Passage View
 */
 
#abs-biblesearch-browse {
  font-family: Arial, sans-serif;
  font-size: 12px;
}
 
 .passageheader  {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	height: 30px;
	margin: 15px 0;
	padding: 5px 0;
 }
 
	 .passageheader  h1 {
		color: #5db4d6;
		display: inline;
	 }
	 
	 .passageheader #prevchapter, .passageheader #nextchapter,
	 .passagefooter #prevchapter, .passagefooter #nextchapter {
		color: #5db4d6;
		float: right;
		font-size: 16px;
		font-weight: bold;
		margin: 5px 0 0 15px;
		text-decoration: none;
	 }
   
.abs-biblesearch-versions-copyright a {
  color: #5db4d6;
  text-decoration: none;
}
	 
.highlighted, .abs-verse-text em {
	background-color: #fdfdc9;
  font-style: normal;
}
	 
span.para {
	font-size: 13px;
	line-height: 150%;
}
	 
span.level1 {
	display: block;
	margin: 0;
	padding: 0;
}

span.level2 {
	display: block;
	margin: 0;
	padding: 0 0 0 15px;
}
 
  /*
 * END Passage View
 */
 
 .clear {
	clear: both;
 }
 
 .nodisplay {
	display: none;
 }
 
.abs-biblesearch-versions-copyright {
  background: #3d3c3c;
  color: #fff;
  padding: 5px;
}
  .abs-biblesearch-versions-copyright .version {
    color: #fff;
  }